* {
  background-color: var(--bg-light);
}

:root {

  --bg-light: #FFE8D4;

  --bs-color01: #e64fae;

  --bs-color02: #dc91c8;

  --bs-color03: #d1bbf8;

  --bs-color04: #EBD2BE;

  --bs-text01: #5f5f5f;

}


.bg-light {
  background-color: var(--bg-light);
}

.bg-color01 {
  background-color: var(--bs-color01);
}

.bg-color02 {
  background-color: var(--bs-color02);
}

.bg-color03 {
  background-color: var(--bs-color03);
}

.bg-color04 {
  background-color: var(--bs-color04);
}

.background {
  background-color: var(--bg-light);
}